/* text */
.text01 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #73b9b4;
}

.text02 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top: 80px;
}

/* desktop */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

#main {
  border-top: 8px solid #111;
  width: 98vw;
  margin: auto;
}

#mainSec {
  max-width: 1200px;
  min-width: 370px;
  width: 100%;
  position: relative;
  margin: auto;
}

#headerId {
  margin-bottom: 5px;
}

.headerMain {
  display: flex;
}

.logoMain {
  height: 300px;
  display: flex;
  align-items: center;
  flex: 1;
}

.logoSec {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.logoTri {
  aspect-ratio: 1/1;
  background: url("../images/logo/default.png") center center no-repeat;
  background-size: cover;
  width: 100%;
}

#menuBtn {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  left: 3vw;
  top: 2.5vh;
  z-index: 9999999;
}

#menuBtn div {
  background-color: #999;
  height: 3px;
  margin: 6px;
}

.navMain {
  height: 100%;
  display: block;
  flex: 4;
}

.navMai {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    padding:40px 20px 0 0;
    display: block;
    opacity: 0;
  }

.navMain>ul>li {
  position: relative;
}

.navMain ul ul {
  position: absolute;
  top: 150;
  left: 0;
  width: 100%;
  display: none;
  z-index: 9999999;
}

.navMeals:hover #a01{
  display: block;
}
.navAbout:hover #a02{
  display: block;
}

.navSec {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 120px;
}

.navSec > li:nth-of-type(1) > a::before {
  content: "";
  background-image: url(../images/food.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.navSec > li:nth-of-type(2) > a::before {
  content: "";
  background-image: url(../images/book.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.navSec > li:nth-of-type(3) > a::before {
  content: "";
  background-image: url(../images/newspaper.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.navSec > li:nth-of-type(4) > a::before {
  content: "";
  background-image: url(../images/store.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.navSec a {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  padding: 12px 12px;
}

.navSec li ul {
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 5px 5px rgb(54, 54, 54);
}

.navSec > li > a:hover {
  opacity: 0.5;
}

.navSec > li > ul > li > a:hover {
  background-color: rgba(204, 204, 204, 0.2);
}

.navSec li ul li {
  margin-bottom: 10px;
}

#memNav {
  position: absolute;
  right: 6vw;
  top: 3vh;
}

#memNav ul li {
  float: left;
}

#memNav ul a {
  margin-left: 4px;
  padding: 5px 8px;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.5;
  border-radius: 3px;
  border: 1px solid #999;
}

#memNav > ul > li > a > span {
  display: inline-block;
  padding-left: 5px;
}

#memNav > ul > li > a:hover {
  background-color: rgba(204, 204, 204, 0.2);
}

.clearNav::after {
  content: "";
  display: block;
  clear: both;
}

.description {
  height: 40px;
  margin-bottom: 30px;
}

.articleMain {
  margin-bottom: 20px;
}

.articleSec {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.saleContainer {
  height: 45%;
  height: 340px;
  margin: 20px;
  flex: 1;
}

.boxify-image-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.boxify-image-wrapper > div {
  aspect-ratio: 9/7;
  background-size: cover;
}
.saleImage01 {
  background: url("../images/image01.jpg") center center no-repeat;
}

.saleImage02 {
  background: url("../images/image02.jpg") center center no-repeat;
}

.saleImage03 {
  background: url("../images/image03.jpg") center center no-repeat;
}

.saleImage04 {
  background: url("../images/image04.jpg") center center no-repeat;
}

.saleImage05 {
  background: url("../images/image05.jpg") center center no-repeat;
}

.saleImage06 {
  background: url("../images/image06.jpg") center center no-repeat;
}

.info-box {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box p {
  font-size: 1.2rem;
}

.info-price {
  width: 100%;
  height: 10%;
  text-align: center;
}

.btn-add-to-cart {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.buy-me-btn {
  width: 33%;
  height: 100%;
  background-color: rgb(240, 233, 233);
  border-color: #999;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.newMain {
  display: flex;
  justify-content: space-evenly;
}

.newMain > div {
  width: 40%;
  height: 240px;
  background-size: contain;
}

.newImages01 {
  background: url(../images/new01.webp) top center no-repeat;
}
.newImages02 {
  background: url(../images/new02.webp) top center no-repeat;
}
.newImages03 {
  background: url(../images/new03.webp) top center no-repeat;
}

.newAside {
  width: 40%;
  height: 240px;
}

.new-header-box {
  width: 100%;
  margin-bottom: 15px;
}

.new-footer-box {
  width: 100%;
}

.new-footer-box p {
  line-height: 1.5;
}

.footerMain {
  height: 280px;
  margin-bottom: 40px;
}

.footerSec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footerImage {
  width: 30%;
  height: 100%;
  background: url(../images/fb-footer.png) center center no-repeat;
  background-size: contain;
}

.footerAddress {
  width: 39%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-adress-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1.2;
  font-size: 18px;
}

.footerNav {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  height: 100%;
}

.footerLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 18px;
}

#upupup {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 10vw;
  bottom: 10vh;
  z-index: 9999999;
  background: url(../images/back-to-top.jpg) center center no-repeat;
  background-size: contain;
  
}

#upupup a{
  display: block;
  width: 100%;
  height: 100%;
}
